{% extends "common/navbar.html" %}
{% from "common/helper_scripts.html" import render_field, coolsubmit %}
{% from "common/helper_scripts.html" import coolbluebutton, coolgreenbutton, coolredbutton, rectbutton %}

{% block title %}
    <title>Add Category</title>
    <link rel="icon" href="../../static/favicon.ico">
    <script src="../../static/confirmation.js"></script>
{% endblock %}

{% block content %}
<h1 class="mt-10 mb-5 text-4xl font-bold text-center text-zinc-800 ">Add Category</h1>

<div class="bg-fuchsia-50 px-3 py-3 mx-5 my-5 rounded-mb border border-gray-700">
    <p class="mx-5 my-1 text-center text-rose-500">
    {% if error=="400" %}
        Category name cannot be empty
    {% elif error=="409" %}
        Category already exists
    {% elif error=="500" %}
        We are experiencing some issues. Please Try again later.
    {% endif %}
    </p>
    <form method="post" class="danger-form" action="/addcat" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.category_name.label(class="mt-5 mb-2")  }}
        {{ render_field(form.category_name) }}
        {{ coolsubmit(form) }}
    </form>
</div>
{% endblock %}