{% extends "common/navbar.html" %}
{% from "common/helper_scripts.html" import render_field, coolsubmit %}
{% from "common/helper_scripts.html" import coolbluebutton, coolgreenbutton, coolredbutton %}

{% block title %}
    <title>Edit Product</title>
    <link rel="icon" href="../../static/favicon.ico">
    <script src="../../static/confirmation.js"></script>
{% endblock %}

{% block content %}
<h1 class="mt-10 mb-5 text-4xl font-bold text-center text-zinc-800 ">Edit Product</h1>

<div class="bg-fuchsia-50 px-3 py-3 mx-5 my-5 rounded-mb border border-gray-700">

        <p class="mx-5 my-1 text-center text-rose-500">
            {% if error=="400" %}
                Empty Required Fields.
            {% elif error=="409" %}
                Product already exists. You have been redirected to the edit page of the existing product.
            {% elif error=="500" %}
                We are experiencing some issues. Please Try again later.
            {% elif error=="404" %}
                You're trying to edit a product that doesn't exist.
            {% endif %}
        </p>
    <form method="post" class="danger-form" action="/editproduct/{{product_id}}" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {{ form.product_name.label }}
        {{ render_field(form.product_name, value=details["product_name"] ) }}

        {{ form.product_price.label }}
        {{ render_field(form.product_price, value=details["product_price"]) }}

        {{ form.product_unit.label }}
        {{ render_field(form.product_unit, value=details["product_unit"]) }}

        {{ form.product_stock.label }}
        {{ render_field(form.product_stock, value=details["product_stock"]) }}

        {{ form.product_image.label }}
        {{ render_field(form.product_image) }}

        {{ coolsubmit(form) }}
    </form>
</div>
{% endblock %}