{% extends "common/navbar.html" %}

{% block title %}
    <title>404</title>
    <link rel="icon" href="../../static/favicon.ico">

{% endblock %}


{% block content %}

    <div class="flex flex-col align-middle" style="padding-top: 10px;margin:5px;background-color: #fff; font-family: 'Arvo',serif">
        <h1 style="font-size: 80px; text-align: center">404</h1><br>
        <img alt="caveman animation" src="../../static/404.gif">
        <h2 style="font-size: 60px; text-align: center">Oops!</h2><br>
        <p style=" text-align: center">The page you're looking for is not available!</p>
    </div>


{% endblock %}

